.component-header-content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.component-header-content h1 {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin: 0;
}
