@import '../../global/variables';

component-text-block {
  .component-text-block-content {
    width: 100%;
    height: 100%;
    padding: $spacing-md;

    p {
      font-size: $font-size-md;
      line-height: 1.7;
      color: $color-grey-dark;
      margin: 0;
    }
  }
}
